<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zarządzanie pokojami</title>
</head>
<body>
<h1>Zarządzanie pokojami - Pokoje</h1>
<br>
<button action="#" th:action="@{/menu}">menu</button><br/>
<button action="#" th:action="@{/dodajPokoj}">dodaj pokój</button>
<h3>Lista pokoi:</h3>
<br />
<table border="1">
    <tr>
        <td>Nr pokoju</td>
        <td>Budynek</td>
        <td>Telefon</td>
        <td>Przeznaczenie</td>
        <td>Ilość biurek</td>
    </tr>
    <tr th:each="pok:${pokojeList}">
        <td th:text="${pok.nr_pokoju}">nr pokoju</td>
        <td th:text="${pok.budynek}">budynek</td>
        <td th:text="${pok.nr_tel}">budynek</td>
        <td th:text="${pok.przeznaczenie}">budynek</td>
        <td th:text="${pok.ile_biurek}">budynek</td>
    </tr>
</table>
</body>
</html>